<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>ABOUT PLACEMENT</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        header {
            background-color: #0a4d7c;
            color: #fff;
            padding: 20px 0;
        }
        header .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            margin: 0;
            font-size: 24px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }

        nav ul li {
            display: inline;
            margin-left: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <nav class="navbar navbar-expand-lg ">
                <div class="container">
                    <a class="navbar-brand" href="/" style=color:#fff>ABOUT PLACEMENT</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style=color:#fff>Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" style=color:#fff
                                    id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Portal
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/student/login">Student Portal</a></li>
                                    <li><a class="dropdown-item" href="/teacher/login">Teacher Portal</a></li>
                                    <li><a class="dropdown-item" href="/company/login">Company Portal</a></li>
                                </ul>
                            </li>
                            <!-- add the redirection for contact and about -->
                            <li class="nav-item">
                                <a class="nav-link" href="/#contact" style="color: #fff;">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about" style=color:#fff>About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">PLACEMENT MODULE</h5>
                        <p class="card-text">The placement module, developed using <b>Node.js, Express.js, and
                                MongoDB</b>, streamlines the management of placement drives by providing real-time
                            updates.
                            It allows administrators to post new drive information, while students can easily access and
                            track upcoming opportunities. also ensuring that all relevant details are available at a
                            glance.
                            Enhancing communication and coordination between students and placement coordinators.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">PLACEMENT FACILITIES</h5>
                        <p class="card-text">Our college conducts various placement activities, including <b>Aptitude
                                tests, Programming challenges, and MCQ test</b> to prepare students for recruitment
                            processes.
                            These activities enhance problem-solving skills, technical knowledge, and overall readiness.
                            Ensuring students are well-equipped to excel in campus placement drives and secure their
                            desired job opportunities.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">PLACEMENT CELL CO-ORDINATOR</h5>
                        <p class="card-text">
                            Computer Science(PG):<b>Mr. H. R. Arvind</b>
                            <i class="fa fa-envelope" aria-hidden="true"></i>hrarvind@nowrosjeewadiacollege.edu.in
                        </p>
                        <p class="card-text">
                            Computer Science(UG):<b>Mrs. Tandra Das</b>
                            <i class="fa fa-envelope" aria-hidden="true"></i>tandraguha@nowrosjeewadiacollege.edu.in
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary">COMPAINES (UG PLACEMENT)</h5>
                            <p class="card-text"><b>Wipro, Tata Consultancy Service, Hexaware, Bitwise, Capgemini, LTI,
                                    Cognizant, Deloitte</b></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary">COMPAINES (PG PLACEMENT)</h5>
                            <p class="card-text"><b>Omniscient Systems, BNT Software, Symantec, Spring CT, Niyuj,
                                    Sybase, Harbinger Systems,
                                    Emtec, Cytel, Wisdm Labs, Sigma ,SymphonyTech, Shunya Systems, Tech Mahindra, Vyom
                                    Labs, Codelinks,MaxPCSecure, Cruxoid,
                                    Tech Veritas, Quick Heal, Persistent Systems, Letechsa, Ascentech, Coditas,
                                    Intellimet</b> and many more...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary">TEAM MEMBER</h5>
                            <p class="card-text"><b>MENTOR</b>: Dr.REENA BHARTHI<br>
                                <B>DEVELOPERS MSc(CS)PART-I(2023-2024)</B>
                            <ol>
                                <li>NAVED SHAIKH</li>
                                <li>SWAROOP BIDKAR</li>
                                <li>MUIZ LAMBE</li>
                                <li>POONAM INDALKAR</li>
                                <li>ARSHIYA SHAIKH</li>
                            </ol>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('footer.ejs') %>
</body>

</html>