<style>
    footer {
            background-color: #0a4d7c;
            color: #fff;
            text-align: center;
            padding: 10px
        }

        footer p {
            margin: 0;
            /* bottom: 100%; */
            border-bottom: 100%;
        }
</style>

<footer>
    <div>
        <p>&copy; 2024 Placement Management System</p>
    </div>
</footer>